<?xml version="1.0" encoding="utf-8"?>
<!--
Este archivo es utilizado por el proceso de paquete/publicación de nuestro proyecto Web. Puede personalizar el comportamiento de este proceso
editando este archivo MSBuild. Para conocer más acerca de esto, visite http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ADUsesOwinOrOpenIdConnect>False</ADUsesOwinOrOpenIdConnect>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://controlcolocaciondemezclas.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>controlcolocaciondemezclas.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>controlcolocaciondemezclas</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>False</EnableMSDeployBackup>
    <UserName>$controlcolocaciondemezclas</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="BDcontrol3ConnectionStringCargoEmpleado" Order="1" Enabled="False">
          <Destination Path="Data Source=controlcolocaciondemezclasservidor.database.windows.net;Initial Catalog=BDcontrol3;Persist Security Info=True;User ID=BDcontrol3;Password=BDcontrol.2016" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=controlcolocaciondemezclasservidor.database.windows.net;Initial Catalog=BDcontrol3;Persist Security Info=True;User ID=BDcontrol3;Password=BDcontrol.2016" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\BDcontrol3ConnectionStringCargoEmpleado_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=controlcolocaciondemezclasservidor.database.windows.net;Initial Catalog=BDcontrol3;Persist Security Info=True;User ID=BDcontrol3;Password=BDcontrol.2016" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="BDcontrol3ConnectionString" Order="2" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=controlcolocaciondemezclasservidor.database.windows.net;Initial Catalog=BDcontrol3;Persist Security Info=True;User ID=BDcontrol3;Password=BDcontrol.2016" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\BDcontrol3ConnectionString_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=controlcolocaciondemezclasservidor.database.windows.net;Initial Catalog=BDcontrol3;Persist Security Info=True;User ID=BDcontrol3;Password=BDcontrol.2016" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)BDcontrol3ConnectionStringCargoEmpleado-Web.config Connection String">
      <ParameterValue>Data Source=controlcolocaciondemezclasservidor.database.windows.net;Initial Catalog=BDcontrol3;Persist Security Info=True;User ID=BDcontrol3;Password=BDcontrol.2016</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>