body {
    background-image: url(/Imagen/Pantalla1.png);
    font-family: sans-serif; font-size: 14px;
}

#titulo{
    text-align:center;
    font-size:4em;
    margin-left:160px;
    font-weight: bold;
}
#navcontainer{
    margin-top:150px;
}
#navlist { padding: 3px 0px;
border-bottom: 1px solid #778;
font: bold 16px Verdana, sans-serif; }

#navlist li { list-style: none; display: inline; margin-left:10px;}

#navlist li a { padding: 3px 1em;
border: 1px solid #778; border-bottom: none;
background: #DDE; text-decoration: none; }

#navlist li a:link { color: #448; }
#navlist li a:hover {color: #000; background: #AAE; border-color: #227; }
#navlist li a#current { background: #AAE; }

#cajamenu{
    border: 2px solid #000;
}
