@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,600,700);
body{
    /*background-image: url(/Imagen/Inicial.png);*/
    width:px;
    height:40px;


    text-align:center;
   
    
}
/*barra de menu*/
h1
{
    color:black;

}

nav#menu ul li
{
    background:#0094ff;
    border-radius:0.3em;
    display:inline-block;
    padding: 0.5em 1em;

}

nav#menu ul li a
{
    color:black;
    text-decoration:none;

}

nav#menu ul li:hover
{
background:white;
}

header{
    margin:100px auto;
    width:1200px;
    height:40px;
    background-color:beige;

}

#caja1{
    height:170px;
    width:114px;
    border:solid 2px #e4e4e4;
    display: inline-block;
    margin: 20px;
    color:black;
    
}
/*contenedor fomrmulario*/
#cajamenu{
     background:;
    font-style:italic;
    font-family:Verdana;
}

.auto-style2{
    background:#A9CCE3  ;
    border-color:green;
}

table {
    border-style:double;

}

/*insertEquipoBombeo*/

 /*<style type="text/css">*/
        .auto-style3 {
            height: 6px;
        }
        .auto-style4 {
            background: #A9CCE3;
            border-color: green;
            height: 23px;
        }
        .auto-style5 {
            height: 23px;
            width: 210px;
        }
        .auto-style6 {
            background: #A9CCE3;
            border-color: green;
            height: 19px;
        }
        .auto-style7 {
            height: 19px;
            width: 210px;
        }
        .auto-style9 {
            width: 210px;
        }
        .auto-style10 {
            height: 6px;
            width: 210px;
        }
        .auto-style11 {
            width: 308px;
            height: 95px;
        }
        .auto-style12 {
            background: #A9CCE3;
            border-color: green;
            height: 12px;
        }
        .auto-style13 {
            height: 12px;
            width: 10px;
        }
   